p
{
font-size: 60px;
}

#frase {font-size: 18px; background-color: rgb(169, 255, 10) ;
    font-family: 'Bellota Text', cursive;}
 h1  {
font: bold 36px verdana; 
text-shadow: rgb(0,0,150) 3px 3px 5px;
 }
